 .speech-to-text {
  padding: 8px 16px;
  background: #e0e0e0;
  color: #333;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  margin: 5px
  }

  .record-button {
    background-color: #e0e0e0; /* Initial background color */
    color: #333;
     border: none;
    outline: none;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
  }
  

  
